Repository botchkin2/garage61-session-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: npx eslint
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

Add TimeRangeSelector component and integrate into LapList for dynamic time range selection
  src/components/LapList.tsx
  src/components/RacingUI.tsx
  src/components/TimeSeriesChart.tsx
  src/components/index.ts
Due: eslint, prettier

Add track map functionality to TimeSeriesChart with lat/lon data integration
  src/components/TimeSeriesChart.tsx
Due: eslint, prettier

setup proper screens for each display
  .gitignore
  App.tsx
  package-lock.json
  package.json
  src/components/MultiLapComparison.tsx
  src/components/SessionAnalysis.tsx
  src/navigation/AppNavigator.native.tsx
  src/navigation/AppNavigator.tsx
  src/navigation/AppNavigator.web.tsx
  src/navigation/index.ts
  src/screens/LapListScreen.tsx
  src/screens/LapListScreen.web.tsx
  src/screens/MultiLapComparisonScreen.tsx
  src/screens/MultiLapComparisonScreen.web.tsx
  src/screens/ProfileScreen.tsx
  src/screens/SessionAnalysisScreen.tsx
  src/screens/SessionAnalysisScreen.web.tsx
  src/screens/index.ts
  webpack.config.js
Due: eslint, prettier

Remove ChartDemoScreen and associated navigation references from AppNavigator files. Update screen exports to reflect the removal of the Charts tab across all platforms.
  src/navigation/AppNavigator.native.tsx
  src/navigation/AppNavigator.tsx
  src/navigation/AppNavigator.web.tsx
  src/screens/ChartDemoScreen.tsx
  src/screens/LapListScreen.tsx
  src/screens/MultiLapComparisonScreen.tsx
  src/screens/SessionAnalysisScreen.tsx
  src/screens/index.ts
Due: eslint, prettier

Update pre-commit configuration to use version 4.6.0 of pre-commit-hooks. Add mixed-line-ending hook to enforce LF line endings and ensure consistent formatting across files.
  .pre-commit-config.yaml
Due: none

Update pre-commit configuration to use version 5.0.0 of pre-commit-hooks for improved checks and consistency.
  .pre-commit-config.yaml
Due: none

Add Firebase configuration files and GitHub workflows for hosting deployment
  .firebaserc
  .gitattributes
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  public/404.html
Due: prettier

Update .gitignore, package.json, and index.html for build process and environment configuration
  .gitignore
  package.json
  public/index.html
Due: prettier

Refactor build process and enhance Firebase hosting configuration
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .prettierignore
  package.json
  public/index.html
  scripts/copy-build-files.js
  src/utils/dimensionsPolyfill.js
  webpack.config.js
Due: eslint, prettier

Add Firebase Functions for Garage 61 API proxy and update hosting configuration
  firebase.json
  functions/package.json
  functions/src/index.ts
  functions/tsconfig.json
  public/index.html
  src/components/MultiLapComparison.tsx
  src/components/RacingUI.tsx
  src/components/SessionAnalysis.tsx
  src/components/UserProfile.tsx
  src/navigation/AppNavigator.native.tsx
  src/screens/MultiLapComparisonScreen.web.tsx
  src/theme.ts
  src/utils/api.ts
  tsconfig.json
  webpack.config.js
Due: eslint, prettier

Enhance GitHub workflows for Firebase Functions deployment
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Update GitHub workflows to use npm install for function dependencies
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

add channel id back
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

try env vars for firebase functions
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Enhance Firebase deployment workflows and configuration
  .github/workflows/firebase-functions-deploy.yml
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  functions/package.json
Due: prettier

node 24 for functions
  functions/package.json
Due: prettier

Update Firebase Functions configuration and dependencies
  .github/workflows/firebase-functions-deploy.yml
  .gitignore
  firebase.json
  functions/package-lock.json
  functions/package.json
  functions/src/index.ts
  package-lock.json
  package.json
Due: eslint, prettier

Refactor Firebase Functions to use v2 API and enhance error handling
  firebase.json
  functions/src/index.ts
Due: eslint, prettier

Enhance Firebase Functions deployment workflow
  .github/workflows/firebase-functions-deploy.yml
Due: none

bump bump bump it up
  .github/workflows/firebase-functions-deploy.yml
Due: none

Enhance error handling and logging in garage61Proxy function
  functions/src/index.ts
  public/index.html
Due: eslint, prettier

Add catch-all route in firebase.json for serving index.html
  firebase.json
Due: prettier

Update Firebase hosting configuration and add index template
  .gitignore
  public/index.template.html
  webpack.config.js
Due: eslint, prettier

Enhance garage61Proxy response handling for CSV and JSON
  functions/src/index.ts
Due: eslint, prettier

Enhance documentation and optimize API request handling
  .eslintrc.js
  README.md
  docs/API_REQUESTS.md
  docs/COMPONENT_OPTIMIZATION.md
  docs/REACT_NATIVE_WEB.md
  docs/REACT_QUERY.md
  docs/README.md
  public/index.template.html
  src/components/LapList.tsx
  src/components/MultiLapComparison.tsx
  src/components/MultiLapTimeSeriesChart.tsx
  src/components/SessionAnalysis.tsx
  src/components/TimeSeriesChart.tsx
  src/components/UserProfile.tsx
  src/hooks/useApiQueries.ts
  src/utils/api.ts
  src/utils/authContext.tsx
  src/utils/queryClient.ts
Due: eslint, prettier

Refactor telemetry data handling and enhance utility functions
  .eslintignore
  src/components/MultiLapTimeSeriesChart.tsx
  src/hooks/useApiQueries.ts
  src/utils/binarySearch.ts
  src/utils/colors.ts
  src/utils/dataProcessing.ts
  src/utils/geometry.ts
  src/utils/index.ts
Due: eslint, prettier

Refactor MultiLapTimeSeriesChart controls layout and improve chart dimensions
  src/components/MultiLapTimeSeriesChart.tsx
Due: eslint, prettier

Implement staggered loading for telemetry data in MultiLapTimeSeriesChart
  src/components/MultiLapTimeSeriesChart.tsx
  src/hooks/useApiQueries.ts
  src/utils/api.ts
Due: eslint, prettier

Implement initial data loading for reference lap in MultiLapTimeSeriesChart
  src/components/MultiLapTimeSeriesChart.tsx
Due: eslint, prettier

Enhance MultiLapComparison and MultiLapTimeSeriesChart with new features and improved data handling
  src/components/MultiLapComparison.tsx
  src/components/MultiLapTimeSeriesChart.tsx
  src/screens/MultiLapComparisonScreen.web.tsx
  src/screens/SessionAnalysisScreen.web.tsx
Due: eslint, prettier

Update fade animation initialization in multiple components for improved visibility
  src/components/LapList.tsx
  src/components/MultiLapComparison.tsx
  src/components/SessionAnalysis.tsx
  src/components/UserProfile.tsx
Due: eslint, prettier

Enhance app configuration and introduce settings for API token management
  README.md
  app.json
  metro.config.js
  package-lock.json
  package.json
  src/components/UserProfile.tsx
  src/config/api.ts
  src/navigation/AppNavigator.native.tsx
  src/screens/SettingsScreen.tsx
  src/screens/index.ts
  src/utils/api.ts
Due: eslint, prettier

Enhance cross-platform session display and dynamic content scrolling
  README.md
  components/ui/collapsible.tsx
  src/components/LapList.tsx
  src/components/MultiLapComparison.tsx
  src/components/SessionAnalysis.tsx
  src/screens/CacheManagementScreen.tsx
Due: eslint, prettier

do not require auth token when deployed because of firebase proxy functions
  app.json
  package.json
  src/hooks/useApiQueries.ts
  src/utils/api.ts
Due: eslint, prettier

try 2 to handle no auth token needed when deployed
  app.json
  eas.json
  package-lock.json
  package.json
  src/utils/api.ts
Due: eslint, prettier

allow building non development app
  eas.json
Due: prettier

Refactor font family handling and enhance lap selection logic
  src/components/LapList.tsx
  src/components/RacingUI.tsx
  src/components/SessionAnalysis.tsx
  src/components/UserProfile.tsx
Due: eslint, prettier

attempt to fix 502 errors when using function
  README.md
  functions/src/index.ts
  package.json
  src/utils/api.ts
Due: eslint, prettier

simplify firebase proxy function
  functions/src/index.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md)$, but not: package-lock.json
