Repository botchkin2/garage61-session-analysis: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

eslint:
  name: eslint
  entry: npx eslint
  language: system

prettier:
  name: prettier
  entry: npx prettier --write
  language: system

try function from Commit 716d580
  functions/src/index.ts
Due: eslint, prettier

always use firebase proxy function since it is deployed
  env-example.txt
  src/components/UserProfile.tsx
  src/config/api.ts
  src/hooks/useApiQueries.ts
  src/utils/api.ts
Due: eslint, prettier

Add react-native-svg support and update package dependencies
  package-lock.json
  package.json
  src/components/MultiLapComparison.tsx
  src/components/MultiLapTimeSeriesChart.tsx
  src/components/TimeSeriesChart.tsx
Due: eslint, prettier

Add lap comparison and analysis components for enhanced session insights
  src/components/LapComparisonSection.tsx
  src/components/LapSelectionControls.tsx
  src/components/OptimalSectorAnalysis.tsx
  src/components/SectorVarianceAnalysis.tsx
  src/components/SessionAnalysis.tsx
  src/components/SessionHeader.tsx
  src/components/SummaryMetrics.tsx
Due: eslint, prettier

Enhance lap comparison and variance analysis with fuel information
  src/components/LapComparisonSection.tsx
  src/components/SectorVarianceAnalysis.tsx
  src/components/SessionAnalysis.tsx
  src/types/api.ts
Due: eslint, prettier

Refactor SectorVarianceAnalysis and SessionAnalysis components for improved data handling
  src/components/SectorVarianceAnalysis.tsx
  src/components/SessionAnalysis.tsx
Due: eslint, prettier

Update component exports and enhance MultiLapTimeSeriesChart functionality
  .gitignore
  src/components/MultiLapTimeSeriesChart.tsx
  src/components/TimeSeriesChart.tsx
  src/components/index.ts
Due: eslint, prettier

Enhance MultiLapComparison with loading progress tracking and improved memoization
  src/components/MultiLapComparison.tsx
  src/components/MultiLapTimeSeriesChart.tsx
Due: eslint, prettier

Refactor layout and screens to utilize ScreenContainer for improved safe area handling
  app/_layout.tsx
  app/driver-profile.tsx
  app/index.tsx
  app/multi-lap-comparison.tsx
  app/session-analysis.tsx
  src/components/BottomNavigation.tsx
  src/components/ScreenContainer.tsx
  src/components/index.ts
  src/screens/CacheManagementScreen.tsx
Due: eslint, prettier

Refactor BottomNavigation for improved mobile usability and styling
  src/components/BottomNavigation.tsx
Due: eslint, prettier

Implement WebHeader and adjust layout for web compatibility
  app/_layout.tsx
  src/components/BottomNavigation.tsx
  src/components/LapList.tsx
  src/components/MultiLapComparison.tsx
  src/components/SessionHeader.tsx
  src/components/WebHeader.tsx
  src/components/index.ts
  src/screens/CacheManagementScreen.tsx
Due: eslint, prettier

Refactor LapList and MultiLapComparison for web compatibility and improved styling
  src/components/LapList.tsx
Due: eslint, prettier

Refactor layout and improve component styling for enhanced user experience
  app/_layout.tsx
  src/components/SectorVarianceAnalysis.tsx
  src/components/SessionAnalysis.tsx
Due: eslint, prettier

Enhance OptimalSectorAnalysis and SectorVarianceAnalysis with mean lap time calculations
  src/components/OptimalSectorAnalysis.tsx
  src/components/SectorVarianceAnalysis.tsx
  src/components/SessionAnalysis.tsx
Due: eslint, prettier

initial oauth implementation
  app/_layout.tsx
  app/auth/callback.tsx
  docs/GARAGE61_OAUTH_SETUP.md
  docs/MOBILE_PERFORMANCE_OPTIMIZATION_GUIDE.md
  functions/package.json
  functions/src/authHandlers.ts
  functions/src/index.ts
  functions/src/oauth.ts
  package-lock.json
  package.json
  src/components/OAuthDeepLinkHandler.tsx
  src/components/UserProfile.tsx
  src/components/WebHeader.tsx
  src/components/index.ts
  src/utils/api.ts
  src/utils/auth.ts
  src/utils/authContext.tsx
  src/utils/oauthStorage.ts
Due: eslint, prettier

Refactor MultiLapComparison and MultiLapTimeSeriesChart for improved layout and controls
  src/components/MultiLapComparison.tsx
  src/components/MultiLapTimeSeriesChart.tsx
Due: eslint, prettier

Enhance MultiLapComparison with responsive design and improved control layout
  src/components/MultiLapComparison.tsx
Due: eslint, prettier

Refactor LapSelectionControls and MultiLapComparison for improved layout and responsiveness
  src/components/LapSelectionControls.tsx
  src/components/MultiLapComparison.tsx
Due: eslint, prettier

Enhance OAuth integration and user experience
  app/_layout.tsx
  docs/GARAGE61_OAUTH_SETUP.md
  env-example.txt
  firebase.json
  functions/src/authHandlers.ts
  functions/src/index.ts
  functions/src/oauth.ts
  package-lock.json
  package.json
  src/components/BottomNavigation.tsx
  src/components/LapList.tsx
  src/components/UserProfile.tsx
  src/components/WebHeader.tsx
  src/types/api.ts
  src/utils/api.ts
  src/utils/auth.ts
  src/utils/authContext.tsx
Due: eslint, prettier

install for functions
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: none

Enhance session management and UI components
  assets/images/README.md
  assets/images/android-icon-background.png
  assets/images/android-icon-foreground.png
  assets/images/android-icon-monochrome.png
  assets/images/favicon-source.svg
  assets/images/favicon.png
  assets/images/icon.png
  assets/images/logo-source.svg
  assets/images/splash-icon.png
  docs/GARAGE61_OAUTH_SETUP.md
  eslint.config.js
  functions/src/authHandlers.ts
  functions/src/index.ts
  functions/src/sessionEncryption.ts
  package-lock.json
  package.json
  scripts/generate-icons.js
  src/components/LapList.tsx
  src/components/MultiLapComparison.tsx
  src/components/RacingUI.tsx
  src/components/SessionAnalysis.tsx
  src/components/WebHeader.tsx
  src/hooks/useApiQueries.ts
  src/types/api.ts
  src/utils/api.ts
  src/utils/trackNicknames.ts
Due: eslint, prettier

Refactor session token handling in authHandlers.ts
  functions/src/authHandlers.ts
Due: eslint, prettier

WIP (untested, not for merge): floats-only byte-stream-split, duckdb_cli helper, reencode.py draft
  tools/capture/capture.py
  tools/capture/duckdb_cli.py
  tools/capture/reencode.py
Due: none

Race desktop: the map fills the width and height left; rates up to 16x
  src/features/race/RaceScreen.tsx
  src/features/race/__fixtures__/daytonaStart.json
  src/features/race/clock.test.ts
  src/features/race/clock.ts
  src/features/race/components/RaceTransport.tsx
  src/features/race/useRaceClock.ts
Due: eslint, prettier

Uploader: the describe cache is keyed on a describe version; analysisVersion 16
  tools/sessions/analyze.mjs
  tools/sessions/describeCache.mjs
  tools/sessions/describeCache.test.mjs
  tools/sessions/lmu.mjs
  tools/sessions/sync.mjs
Due: none

Golden set CI: the key only reaches the auth step (HAS_GOLDEN boolean in the job env); the gate also covers a swapped slice; step renamed (bias on #471)
  .github/workflows/test.yml
  tools/golden/gate.mjs
  tools/golden/gate.test.mjs
Due: none

Golden set in CI: four real sessions, drift needs a reason (#471)
  .github/workflows/test.yml
  ops/iam/README.md
  ops/iam/ciSplit.mjs
  ops/iam/goldenReader.mjs
  ops/iam/goldenReader.test.mjs
  ops/iam/goldenReaderPlan.mjs
  tools/golden/.gitignore
  tools/golden/CHANGES.md
  tools/golden/README.md
  tools/golden/expected/iracing-race-road-atlanta.json
  tools/golden/expected/lmu-practice-road-atlanta.json
  tools/golden/expected/lmu-race-daytona-tyres.json
  tools/golden/expected/lmu-race-road-atlanta.json
  tools/golden/fetch.mjs
  tools/golden/gate.mjs
  tools/golden/gate.test.mjs
  tools/golden/golden.mjs
  tools/golden/golden.test.mjs
  tools/golden/list.mjs
  tools/golden/make.mjs
  tools/golden/manifest.json
  tools/golden/update.mjs
  tools/sessions/analyze.mjs
Due: prettier

Android 1.0.1: version
  app.json
Due: prettier

Tick labels: one frame per chart (no per-lap duplicates); the top label clears the 100 % throttle line
  src/charts/TraceChart.tsx
Due: eslint, prettier

Session delete tool: dry run by default, a hash of the set to confirm, exact prefixes, owner checks, a record
  tools/sessions/deleteSessions.mjs
  tools/sessions/deleteSessions.test.mjs
  tools/sessions/deleteSessionsAdmin.mjs
Due: none

Session delete tool: fix the leftover count in the test
  tools/sessions/deleteSessions.test.mjs
Due: none

Grid: sectionTable test on the Road Atlanta map; a cell tap highlights without changing the set
  src/data/sessions/__fixtures__/roadAtlantaMap.json
  src/features/corner/model.test.ts
  src/features/corner/model.ts
  src/features/session/model.test.ts
  src/features/session/model.ts
  src/features/session/sectionTable.test.ts
Due: eslint, prettier

Android 1.0.1: version (#476)
  app.json
Due: prettier

Corner: the highlight joins no basis (set, not selected) in entry part, median trace, window
  docs/design_handoff_round5/README.md
  src/features/corner/model.test.ts
  src/features/corner/model.ts
Due: eslint, prettier

OTA JS updates with EAS Update (fingerprint runtime, production channel)
  .github/workflows/ota-update.yml
  app.json
  docs/ANDROID_BUILD.md
  eas.json
  package-lock.json
  package.json
Due: prettier

Allow screen rotation; landscape phones keep the phone layout (M1)
  app.json
  src/design/README.md
  src/design/layout.tsx
  src/design/layoutMetrics.test.ts
  src/design/layoutMetrics.ts
  src/design/tokens.ts
  src/features/compare/CompareScreen.tsx
  src/features/corner/CornerScreen.tsx
  src/ui/BottomBar.tsx
Due: eslint, prettier

No screen picks a lap by its position: Ref, best or the set
  app/session/[id]/index.tsx
  app/session/[id]/race.tsx
  docs/ARCHITECTURE.md
  src/analysis/lapSlots.test.ts
  src/analysis/lapSlots.ts
  src/features/compare/followModel.test.ts
  src/features/compare/followModel.ts
  src/features/compare/model.test.ts
  src/features/compare/model.ts
  src/features/compare/tableReference.test.ts
  src/features/compare/tableReference.ts
  src/features/compare/useCompareModel.ts
  src/features/corner/CornerScreen.tsx
  src/features/corner/keyLaps.test.ts
  src/features/corner/keyLaps.ts
  src/features/corner/model.test.ts
  src/features/corner/model.ts
  src/features/corner/sectionWindow.test.ts
  src/features/corner/sectionWindow.ts
  src/features/corner/useCornerModel.ts
  src/features/race/selectionClock.test.ts
  src/features/race/selectionClock.ts
  src/features/race/useRaceData.ts
  src/features/session/energyLine.test.ts
  src/features/session/energyLine.ts
  src/features/session/model.test.ts
  src/features/session/model.ts
  src/features/session/pitCard.ts
  src/nav/keptSession.test.ts
  src/nav/keptSession.ts
  src/ui/AppChrome.tsx
  src/workspace/DesktopChrome.tsx
  src/workspace/chromeBox.test.ts
  src/workspace/chromeBox.ts
  src/workspace/useWorkspaceGo.ts
Due: eslint, prettier

Delete tool: refuse live ids by recordings, both archive layouts, record on failure
  docs/STORAGE.md
  tools/sessions/deleteSessions.mjs
  tools/sessions/deleteSessions.test.mjs
Due: prettier

WIP class pace on Plan: iRacing classes, rows model
  src/analysis/classLaps.test.ts
  src/analysis/classLaps.ts
  src/data/sessions/adapters.ts
  src/features/plan/classPaceInput.ts
  src/features/plan/classTiming.ts
  src/features/plan/useClassTiming.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: \.(js|jsx|ts|tsx)$
  prettier: any of: \.(js|jsx|ts|tsx|json|css|md)$, but not: package-lock.json
